.controlBar {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 var(--borderWidth);
  width: 100%;
  & > * {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: #9e9d9d;
    background: rgb(255, 219, 127);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
  }

  & img {
    height: 100%;
    aspect-ratio: 1;
  }
}
