.app {
  --unitSize: 25px;
  --bgColor: white;

  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  width: calc(var(--unitSize) * 3 * 9);
  height: calc(var(--unitSize) * 3 * 9);

  & .unit {
    width: calc(var(--unitSize) * 3);
    height: calc(var(--unitSize) * 3);
    font-size: var(--unitSize);
    font-weight: bold;
    line-height: calc(var(--unitSize) * 3);
    color: #333;
    background: var(--bgColor);
    box-shadow: 0 0 0 2px #333 inset;

    &:nth-child(3n) {
      border-right: 4px solid #333;
    }

    &:nth-child(n + 28):nth-child(-n + 36) {
      border-top: 2px solid #333;
    }

    &:nth-child(n + 55):nth-child(-n + 63) {
      border-top: 2px solid #333;
    }
  }
}
