:root {
  --unitSize: 32px;
  --bgColor: white;
  --borderWidth: 2px;
  --borderRadius: 5px;
}

.app {
  display: flex;
  flex-flow: column nowrap;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  & > * {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.sudoProblem {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  width: 100%;

  & .unit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    font-size: var(--unitSize);
    font-weight: bold;
    color: #333;
    background: var(--bgColor);
    /* box-shadow: 0 0 0 var(--borderWidth) #333 inset; */
    border: var(--borderWidth) #333 solid;
    border-radius: var(--borderRadius);
    box-sizing: border-box;

    &:nth-child(3n) {
      border-right: calc(var(--borderWidth) * 2) #333 solid;
    }
    &:nth-child(9n) {
      border: var(--borderWidth) #333 solid;
    }

    &:nth-child(n + 28):nth-child(-n + 36) {
      border-top: calc(var(--borderWidth) * 2) #333 solid;
    }

    &:nth-child(n + 55):nth-child(-n + 63) {
      border-top: calc(var(--borderWidth) * 2) #333 solid;
    }
    &.heightLight {
      color: rgb(253, 252, 247);
      background: rgb(233, 198, 103);
    }

    &.curr {
      color: #333;
      background: rgb(250, 233, 188);
    }
  }
}
.tips {
  pointer-events: none;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 6px;
  box-sizing: border-box;
  gap: clac(var(--borderWidth) * 2);

  & > * {
    display: block;
    font-size: calc(var(--unitSize) / 2);
    font-weight: normal;
    color: #ccc;
  }
}

.numberBar {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--borderWidth);
  gap: calc(var(--borderWidth) * 4);
  width: 100%;

  & > * {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--unitSize);
    cursor: pointer;
    font-weight: bold;
    color: #333;
    background: rgb(255, 219, 127);
    border-radius: var(--borderRadius);
    aspect-ratio: 1;

    &:active {
      opacity: 0.8;
    }
  }
}
